<mat-card class="card-style">
        <mat-card>
                <mat-card-title>
                        <a routerLink="customer-info" >

                                Customer Info
                                <mat-icon>face</mat-icon>
                        </a>
                        
                </mat-card-title>
        </mat-card>
        <mat-card>
                <mat-card-title>Customer Info 2</mat-card-title>
        </mat-card>
        <mat-card>
                <mat-card-title>Customer Info 2</mat-card-title>
        </mat-card>
</mat-card>